---
title: No Sloptober
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description if description else ''}}">
    <meta property="og:site_name" content="No Sloptober">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description if description else ''}}">
    <!-- 1200 x 630 -->
    <meta property="og:image" content="https://no-sloptober.com/images/black-logo.png">
    <meta property="og:image:alt" content="When you see this logo on any artwork, whether painting, poetry, or prose, you know that it was made by a human just like you
The Brainmade mark can be attached to any work made mostly by you or your friends, not generative tools like GPT. It’s not anti-AI, it is a positive mark that celebrates human creation. It’s not AI = bad, it’s human = good. There’s something transcendent and magical in knowing a human made the artwork I’m consuming, knowing they tried hard is part of the experience. It doesn’t have to be 100% human made (what would that even MEAN these days?), perhaps 90% human made.
I don’t hate AIs,
I love humans!">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:url" content="https://no-sloptober.com">
    <meta property="og:type" content="website">

    <meta property="twitter:title" content="{{ title }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://no-sloptober.com">
    <meta property="twitter:image" content="https://no-sloptober.com/images/black-logo.png">
    <meta property="twitter:description" content="{{ description if description else ''}}">
    <meta property="twitter:creator" content="@ErikOnarheim">


    <link rel="canonical" href="https://no-sloptober.com/">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="icon" href="/favicon.png" type="image/png">

    <link rel="stylesheet" href="/main.css">
    <title>{{ title }}</title>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
